<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Tweets Tab -->
  <ion-tab title="Tweets" icon-off="ion-ios-paw-outline" icon-on="ion-ios-paw" href="#/tab/tweets">
    <ion-nav-view name="tab-tweets"></ion-nav-view>
  </ion-tab>

  <!-- Search Tab -->
  <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search/">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>
  
  <!-- Following Tab -->
  <ion-tab title="Following" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/following">
    <ion-nav-view name="tab-following"></ion-nav-view>
  </ion-tab>
  
  <!-- Favorites Tab -->
  <ion-tab title="Favorites" icon-off="ion-android-favorite-outline" icon-on="ion-android-favorite" href="#/tab/favorites">
    <ion-nav-view name="tab-favorites"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab title="Profile" icon-off="ion-android-contact" icon-on="ion-android-contact" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>
  

</ion-tabs>
